.Boxes {
  text-align: center;
  display: flex;
  width: 400px;
}

.Box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  color: black;
  background-color: green;
}

.over {
  background-color: red;
}
